{% extends 'layouts/base.html' %}

{% block title %}Register{% endblock title %}

{% block registration-form %}
{% load static %}
<section class="reservation">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="main_title position-relative">
					<h1>Register</h1>
					<hr>
					<div class="round-planet planet">
						<div class="round-planet planet2">
							<div class="shape shape1"></div>
							<div class="shape shape2"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="book_table_inner row align-items-center">
			<div class="offset-lg-2 offset-md-1 col-lg-8 col-md-10">
				<div class="table_form">
					<form class="book_table_form row" id="form-register" action="/account/register" method="post"
						onsubmit="return false">
						{% csrf_token %}
						<div class="form-group col-md-12">
							<input type="text" class="form-control" id="login" name="login"
								placeholder="Enter your name">
							<span class="reg-err" id="login-err"></span>
						</div>
						<div class="form-group col-md-12">
							<input type="email" class="form-control" id="email" name="email"
								placeholder="Enter email address">
							<span class="reg-err" id="email-err"></span>
						</div>
						<div class="form-group col-md-12">
							<input type="password" class="form-control" id="pwd" name="pwd" placeholder="Password">
							<span class="reg-err" id="pwd-err"></span>
						</div>
						<div class="form-group col-md-12">
							<input type="password" class="form-control" id="pwd-repeat"
								placeholder="Repeat your password">
							<span class="reg-err" id="pwd-repeat-err"></span>
						</div>
						<div class="form-group col-md-12" style="top: 20px">
							<button type="submit" value="submit" id="submit-btn"
								class="btn submit_btn form-control">Send</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<script src="{% static 'js/register.js' %}"></script>
{% endblock %}